{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>

<p>If you have not created a login, you can <a href="/signup">sign up</a> here.</p>

<form action="/login" method="Post"></form>
    <label for="username">Username</label>
        <input type="text" name="username" value='{{username}}'/>
<br/>
    <label for="password">Password</label>
        <input type="password" name="password" value='{{password}}'/>
<br/>
    <label for="submit">
        <input type="submit" name="submit" /></label>
    </form>
{% endblock %}